.the-product {
    padding: 16px;
    background-color: #f7f7f7;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.the-product__image {
    width: 260px;
    height: 260px;
}


.the-product__info {
    padding: 0 16px;
}
.the-product__desc {
    /*margin: 10px 0;*/
    color: #858585;
}
.the-product__price {
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.the-product__controls {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.the-product__quantity {

}

#detail-product-add-to-cart-button {
    width: auto;
}



.the-product-detail-seller {
    padding: 16px;
    background-color: #f7f7f7;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
}

.the-product-detail-seller-name-link {

}

.the-product-detail-seller-avatar {
    width: 260px;
    height: 260px;
}

.the-product-detail-seller-info {
    padding: 0 16px;
}



.locality-title {
    text-align: center;
}
.locality-map-container {
    display: flex;
    justify-content: space-around;
}



.other-products-title {
    margin-top: 60px;
}