.content {
    padding: 0 32px;
    padding-bottom: 60px;
}

.search-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    padding-bottom: 16px;
}

.select-input {
    display: flex;
    align-items: center;
}

.search-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search-textbox {
    flex-grow: 1;
}