
.footer {
    background-color: #0039ca;
    font-family: "Roboto Condensed Light";
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 16px;
    padding: 20px;
}
.footer-link {
    color: white;
}
.copyright {

    display: block;
    text-align: center;
    padding: 8px;
    color: #e2e2e2;
    font-size: 14px;

}

@media print {
    .footer {
        display: none;
    }
}